# Controls when the workflow will run
on:
  # Allows you to run this workflow manually ftarget the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.output }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { repo: 'rohfle/crisp-game-lib-portable-sdl-with-duktape', output: 'crisp-game-lib-portable-sdl-with-duktape',  dir: 'src/cglpSDL2', binary: 'cglpsdl2', filesyscopy: 'games', binaryparams: '-f', makecommand: 'CC=/opt/aarch64-buildroot-linux-gnu_sdk-buildroot/bin/aarch64-linux-gcc SDL_CONFIG=/opt/aarch64-buildroot-linux-gnu_sdk-buildroot/aarch64-buildroot-linux-gnu/sysroot/usr/bin/sdl2-config NOX11=1'} 

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
               
      - name: get SDK
        uses: wei/wget@v1
        with:
          args: -O rg35xx_plus_aarch64.tgz https://github.com/joyrider3774/sdks/releases/download/v1.0/aarch64-buildroot-linux-gnu_sdk-buildroot.tar.gz

      - name: setup SDK
        run: |
          tar -xzvf ./rg35xx_plus_aarch64.tgz
          sudo mv ./aarch64-buildroot-linux-gnu_sdk-buildroot /opt/
               
      - name: Checkout game sources sources
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          repository: ${{matrix.repo}}
          path: tmp
             
      - name: Build game
        working-directory: tmp/
        shell: bash
        run: |
          make -f ${{matrix.dir}}/Makefile ${{matrix.makecommand}}
          
      - name: prepare output directory
        run: |
          mkdir output
          mkdir output/.${{matrix.output}}
          mkdir output/.${{matrix.output}}/bin
             
         
      - name: Package for ${{matrix.output}} game
        run: |
          cp tmp/${{ matrix.binary }} output/.${{matrix.output}}/bin/
          cp -r tmp/${{matrix.filesyscopy}} output/.${{matrix.output}}/bin/${{matrix.filesyscopy}}
                      
      - name: create ${{matrix.output}}.sh general stuff
        run: |
          echo "#!/bin/sh" > "./output/${{matrix.output}}.sh"
          echo ". /opt/muos/script/var/func.sh" >> "./output/${{matrix.output}}.sh"
          echo "HOME=\"\$(GET_VAR \"device\" \"board/home\")\"" >> "./output/${{matrix.output}}.sh"
          echo "export HOME"  >> "./output/${{matrix.output}}.sh"
          
          echo "SETUP_SDL_ENVIRONMENT"  >> "./output/${{matrix.output}}.sh"
          
          echo "SET_VAR \"system\" \"foreground_process\" \"${{ matrix.binary }}\"" >> "./output/${{matrix.output}}.sh"
                  
          echo "GAMEFOLDER=\$(dirname \"\$0\")/.${{matrix.output}}" >> "./output/${{matrix.output}}.sh"
          echo "cd \"\$GAMEFOLDER/bin\"" >> "./output/${{matrix.output}}.sh"
          echo "./${{matrix.binary}} ${{matrix.binaryparams}}" >> "./output/${{matrix.output}}.sh"
          
          chmod +x "./output/${{matrix.output}}.sh"
            
      - name: Store build
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output }} - AARCH64 - Muos 
          path: output
          include-hidden-files: true
